mat-card {
  height: 100%;
}

mat-card-header::ng-deep {
  display:flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 1.2rem;
  margin: 0;
}

.path {
  max-width: 100%;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  direction: rtl;
}
